.app{
    height: 100vH;
    display: flex;
    background-color: brown;
    color: white;
}

.main{
    width: 75%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), brown),
     url("./assets/background.jpg") center;
    display: flex;
    flex-direction: column;
}


.quizzz{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top{
    height: 50%;
    position: relative;
}
.bottom{
    height: 50%;
}

.timer{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 800;
    position: absolute;
    bottom: 10px;
    left: 72px;
}

.question{
    width: 80%;
    background: linear-gradient(#140007, brown);
    border: 4px solid white;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.answers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer{
    width: 40%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(#140007, rgb(46, 4, 4));
    border: 1px solid wheat;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 300;
}

.display{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moneylist{
    list-style: none;
    width: 100%;
    padding: 20px;
}

.moneylistItem{

}

.moneylistItemNumber{
    font-size: 16px;
    font-weight: 100;
    width: 40%;
}

.moneylistItem{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.moneylistItemAmount{
    font-size: 18px;
    font-weight: 300;
}

.moneylistItem.active{
    background-color: teal;
}